<h1 mat-dialog-title>Pricelist For </h1>
<div mat-dialog-content>
    <form [formGroup]="priceForm">
    
        
            <mat-form-field >
                <mat-label>Small</mat-label>
                <input matInput formControlName="small">
                <span matTextSuffix>$</span>
                <mat-error *ngIf="f.small.hasError('required')">
                    This is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        
            <mat-form-field >
                <mat-label>Medium</mat-label>
                <input matInput formControlName="medium">
                <span matTextSuffix>$</span>
                <mat-error *ngIf="f.medium.hasError('required')">
                    This is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        
            <mat-form-field >
                <mat-label>Large</mat-label>
                <input matInput formControlName="large" [errorStateMatcher]="matcher">
                <span matTextSuffix>$</span>
                <mat-error *ngIf="f.large.hasError('required')">
                    This is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        
           </form> 
    
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="close()" color="warn">No Thanks</button>
  <!-- <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial color="primary">Add</button> -->
  <button mat-raised-button (click)="addPrice()" cdkFocusInitial color="primary">Add</button>
</div>