<div class="home-screen">
<mat-sidenav-container fullscreen>
  <mat-toolbar color="primary">
    <div class="menu">
    <a mat-button [matMenuTriggerFor]=hot >
      Hot Drinks
  </a>
  <mat-menu #hot>
      <button mat-menu-item routerLink="/menu">Coffee</button>
      <button mat-menu-item routerLink="/about">Teas</button>
  </mat-menu>

  <a mat-button routerLink="" >
    Frozen Drinks
  </a>
  
  <a mat-button routerLink="" >
    Sandwiches
  </a>

  <a mat-button routerLink="">
    Bakery
  </a>
</div>
  <span class="header">COFFEE DAY</span>
  <div>
    <span class="spacer"></span>

    <a mat-button routerLink="cart">
      <mat-icon  [matBadge]="badgeNo" matBadgePosition="after" matBadgeColor="accent" matBadgeOverlap="false" >shopping_cart</mat-icon>
      
  </a>

    <a mat-button routerLink="signup" >
      <mat-icon routerLinkActive="active">person_add</mat-icon>
      Register
  </a>
  <a mat-button routerLink="login" routerLinkActive="active" *ngIf="!logStatus">
      <mat-icon>account_circle</mat-icon>
      Login
  </a>
  <a mat-button  (click)="setLogStatus()" *ngIf="logStatus">
    <mat-icon>power_settings_new</mat-icon>
    Logout
</a>
</div>
 
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>

</div>
